.trigger {
  padding: 0;
  margin: 0;

  background: none;
  border: none;
  outline-color: transparent;
}

.options {
  position: absolute;
  z-index: 1000;
  min-width: 100%;
  background-color: var(--dark-bg-redesigned);
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--dark-bg-redesigned);
  white-space: nowrap;
}

.option {
  padding: 10px 20px;
  cursor: pointer;
}

.selected {
  background-color: var(--light-bg-redesigned);
}
