.loginForm {
  display: flex;
  flex-direction: column;

  width: 400px;
}

.formTitle {
  margin-bottom: 10px;
}

.formError {
  margin-bottom: 10px;
}

.input {
  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

.loginBtn {
  margin-top: 15px;
  margin-left: auto;
}
