.infiniteListHeader {
  width: 100%;
  padding: 20px 20px 0 45px;
  margin-bottom: 30px;
}

.infiniteListFooter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px 0 45px;
}

.itemContainer {
  width: 230px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
}

.card {
  height: 294px;
}
