.item {
  display: flex;
  align-items: center;
}

.link {
  margin-left: 10px;
  opacity: 1;
  transition: opacity 0.2s;
}

.icon {
  fill: var(--inverted-primary-color);
}

.itemRedesigned {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 16px;
}

.active {
  background-image:
    linear-gradient(
      89.97deg,
      rgba(29 89 255 / 30%) 1.15%,
      rgba(94 211 243 / 0%) 99.77%
    );

  border-left: 2px solid var(--accent-redesigned);
  padding-left: 14px;
}

.collapsed {
  .link {
    opacity: 0;
    width: 0;
  }
}

.collapsedRedesigned {
  padding: 0 8px;

  &.active {
    padding-left: 6px;
  }

  .link {
    margin: 0;
    opacity: 0;
    width: 0;
  }
}
