.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tile {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  .row {
    display: flex;
    gap: 30px;
  }

  .card {
    height: 294px;
  }
}
