.list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .articleItem {
    padding: 0 20px 20px 45px;
  }
}

.articleList {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tile {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  .row {
    display: flex;
    gap: 30px;
  }

  .articleItem {
    height: 294px;
  }
}
