.listBox {
  position: relative;
}

.trigger {
  padding: 0;
  margin: 0;

  background: none;
  border: none;
  outline-color: transparent;
}

.options {
  position: absolute;
  z-index: 1000;
  min-width: 100%;
  background-color: var(--listbox-bg);
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--listbox-bg);
  white-space: nowrap;
}

.optionsBottomLeft {
  top: 100%;
  left: 0;
}

.optionsBottomRight {
  top: 100%;
  right: 0;
}

.optionsTopLeft {
  bottom: 100%;
  left: 0;
}

.optionsTopRight {
  bottom: 100%;
  right: 0;
}

.option {
  padding: 10px 20px;
  cursor: pointer;
}

.active {
  background-color: var(--inverted-primary-color);
}

.disabled {
  opacity: 0.7;
}
