.drawer {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: flex-end;

  opacity: 0;
  transition: 0.3s opacity;

  pointer-events: none;
}

.content {
  z-index: 10000;
  position: relative;
  bottom: 0;

  width: 100%;
  height: 70%;
  min-height: 100px;
  padding: 20px;

  border-radius: 12px 12px 0 0;
  background-color: var(--bg-color);
  transition: 0.3s transform;
  transform: translateY(100%);
  overflow-y: auto;
  overflow-x: hidden;
}

.content::before {
  content: "";
  position: relative;
  bottom: 40px;

  display: block;
  width: 100px;
  height: 10px;
  margin: auto;

  background-color: var(--bg-color);
  border-radius: 12px;
}

.opened {
  z-index: var(--modal-z-index);

  pointer-events: initial;
  opacity: 1;

  .content {
    transform: translateY(0%);
  }
}

.isClosing {
  opacity: 0;

  .content {
    transform: translateY(100%);
  }
}

.sheet {
  z-index: var(--modal-z-index);
  position: fixed;
  left: 2vw;
  width: 96vw;
  height: calc(100vh + 100px);
  padding: 15px;

  border-radius: 12px 12px 0;
  background-color: var(--bg-color);
  touch-action: none;
}
