.app_typewriter_theme {
  --bg-color: #fbf4f4;
  --inverted-bg-color: #000;
  --primary-color: #000;
  --secondary-color: #000;
  --inverted-primary-color: #fbf4f4;
  --inverted-secondary-color: #fbf4f4;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fbf4f4;
}
