.trigger {
  margin: 0;
  padding: 0;

  background: none;
  outline: transparent;
  border: none;
  cursor: pointer;
}

.menu {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;

  background-color: var(--dark-bg-redesigned);
  border-radius: 18px;
  border: 1px solid var(--accent-redesigned);
  white-space: nowrap;
}

.item {
  width: 100%;
  padding: 10px 25px;
  color: var(--text-redesigned);
  border: none;
  background: none;
  outline: transparent;
  cursor: pointer;
}
