.articleDetailsPage {
  min-height: 100%;
}

.backToArticleListButton {
  align-self: flex-start;
}

.articleDetails {
  flex-shrink: 0;
}

.commentsTitle {
  margin-top: 20px;
}

.recommendations {
  flex-shrink: 0;
  flex-wrap: nowrap;
  margin-top: 20px;
  overflow-y: hidden;
  overflow-x: auto;
}
