.trigger {
  margin: 0;
  padding: 0;

  background: none;
  outline: transparent;
  border: none;
  cursor: pointer;
}

.menu {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;

  background-color: var(--card-bg);
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  white-space: nowrap;
}

.item {
  width: 100%;
  padding: 10px 25px;
  color: var(--primary-color);
  border: none;
  background: none;
  outline: transparent;
  cursor: pointer;
}
