.addonLeft,
.addonRight {
  display: flex;

  & svg {
    color: var(--hint-redesigned);
  }
}

.button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: var(--text-redesigned);
  cursor: pointer;
  transition: 0.111s ease-in;

  &:hover,
  &:focus-visible {
    color: var(--accent-redesigned);

    .addonLeft,
    .addonRight {
      & svg {
        color: var(--accent-redesigned);
      }
    }
  }

  &:active {
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.clear {
  padding: 0;
  border: none;
  background: none;
}

.outline {
  border: 1px solid var(--icon-redesigned);
  border-radius: 34px;
  background: none;
}

.filled {
  background-color: var(--light-bg-redesigned);
  border: none;
  border-radius: 34px;
}

.withAddon {
  padding: 0 16px;
}

.square {
  padding: 0;
}

.square.m {
  width: var(--line-height-m);
  height: var(--line-height-m);
}

.square.l {
  width: var(--line-height-l);
  height: var(--line-height-l);
}

.square.xl {
  width: var(--line-height-xl);
  height: var(--line-height-xl);
}

.m {
  font: var(--font-m-redesigned);
}

.l {
  font: var(--font-l-redesigned);
}

.xl {
  font: var(--font-xl-redesigned);
}

.fullWidth {
  width: 100%;
}
