.starRating {
  .hovered {
    fill: var(--primary-color);
  }
}

.starRatingRedesigned {
  .hovered {
    fill: var(--icon-redesigned);
  }
}

.default {
  fill: none;
}

.starIcon {
  cursor: pointer;
  transition: all 0.3ms;
}

.selected {
  cursor: initial;
}
